body {
  font-family: Arial;
  box-sizing: border-box;
}

.timer {
  font-size: 50px;
  margin-bottom: 20px;
}

button {
  font-size: 20px;
  padding: 10px 30px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}